@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
}